<div class="container" id="products-container">
    <div class="card" style="width: 18rem;">
        <img src="{{product.thumbnails.[0]}}" class="card-img-top" alt="{{product.description}}">
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.description}}</p>
            <h5 class="card-title">${{product.price}}</h5>
            <p class="card-text">Categoria: {{product.category}}</p>
            <p class="card-text">Stock: {{product.stock}}</p>
        </div>
    </div>
</div>